
.chat-container {
  flex: 1; /* Allow chat container to grow to fill available vertical space */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between messages */
  padding: 20px;
  background-color: #fff; /* White message background */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  position: fixed; /* Fix the container */
  top: var(--app-header-height);
  bottom: var(--input-container-height); /* Align to the bottom of the viewport, above the input field */
  left: 0; /* Align to the left edge */
  right: 0; /* Align to the right edge */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Display of user messages */
.message {
  display: flex;
}

.message.user {
  justify-content: flex-end; /* Align user's messages to the right */
}

.message.bot {
  justify-content: flex-start; /* Align bot's messages to the left */
}

/* Sticking buttons to the side of the info section */
.message.user .info-part {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  max-width: max(70vw, 75px);
}

/* EFECAN - styling info segments separate from p identifier */
.message.user .message-info {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 20px;
  min-height: 100%;
}

.message.user .message-info .edit-area {
  flex: 1;
  margin-top: 7px;
}

/* EFECAN */
.message.user .message-image {
  aspect-ratio: 1;
  object-fit: cover;
}

/* EFECAN */
.message.user .message-info .filename {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* RESPONSIVE STYLING */
@media (max-width: 640px) {
  .message.user {
    align-items: flex-end;
    flex-direction: column;
  }
  .message.user .message-info {
    min-height: 200px;
    width: 75%;
  }
  .message.user .message-image {
    height: 200px;
  }
}

@media (min-width: 640px) {
  .message.user .message-info {
    min-width: 150px;
    width: 60%;
  }
  .message.user .message-image {
    min-width: 150px;
    min-height: 150px;
  }
}

@media (max-width: 480px) {
  .chat-container {
    bottom: 35vh;
  }
}
@media (min-width: 480px) {
  .chat-container {
    bottom: max(var(--input-container-height), 11vh);
  }
}

.warning-delete {
  text-align: center;
}

/*

.message p {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 20px;
}

.message.bot p {
  background-color: #d0e8f2;
}

*/

.message img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-left: 10px;
}
