
.message-edit-buttons {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-edit-buttons button {
  color: #ddd;
  font-weight: bold;
  font-size: 24px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .message-edit-buttons {
    min-width: 50%;
  }
  .message-edit-buttons button {
    width: 100%;
  }
}

.message-edit-buttons .edit {
  background-color: #3498db;
}

.message-edit-buttons .delete {
  background-color: #e74c3c;
}

.message-edit-buttons .edit-confirm {
  background-color: #3498db;
}

.message-edit-buttons .edit-cancel {
  background-color: #e67e22;
}

.message-edit-buttons .delete-confirm {
  background-color: #e74c3c;
}

.message-edit-buttons .delete-cancel {
  background-color: #e67e22;
}
